.header__nav{
    display: flex;
    flex-direction: row;
    height: 70px;
    padding:5px 10px;
    color:white;align-items: center;
    font-weight: 500;
    justify-content: space-evenly;
    background-color: #333;
}
.header__search{
    display: flex;
    flex:1;
    align-items: center;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px
}


.header__optionBasket{
    display: flex;
    align-items: center;
    color:white;
}